.main {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  gap: 10px;
  padding: 10px;
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: repeat(2, 1fr); /* 2 колонки на маленьких экранах */
  }
}

@media (max-width: 400px) {
  .main {
    grid-template-columns: 1fr; /* 1 колонка на очень маленьких экранах */
  }
}
